*
{
    padding: 5px;
    background-color: rgb(165, 240, 122);
}
.card
{
    display: inline-block;
}
.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: rgb(106, 192, 56);
    text-align: center;
    border-style: solid;
  }